.content {
  position: relative;
  transition: $transition-duration;
  height: 100%;
  z-index: 0;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;
    transition: $transition-duration;
  }
}

@import "multiscroll-sections/_base.scss";
@import "multiscroll-sections/_text.scss";
