.content {
  position: relative;
  transition: $transition-duration;
  height: 100%;
  z-index: 0;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;
    transition: $transition-duration;
  }
}

@include media("<=tablet") {
  .content {
    padding-top: 78px;
  }
}

/* Home Page */
@import "multiscroll-sections/_base.scss";
@import "multiscroll-sections/_text.scss";
@import "multiscroll-sections/_links.scss";
@import "multiscroll-sections/_svg-images.scss";
@import "multiscroll-sections/_section-themes.scss";

/*Portfolio*/
.portfolio {
  overflow-y: visible;
  overflow-x: hidden;

  @import "portfolio/base";
  @import "portfolio/text";
  @import "portfolio/slider";
  @import "portfolio/svg-images";
  @import "portfolio/filters";
}

/* Contact and About */
.contact {
  background-color: #ececeb;
  @import "contact/base";
  @import "contact/text";
}
