.inner-container {
  background-color: $darkWhiteBg;
  height: 100%;
  padding: 78px 5% 5% 5%;
  display: flex;
  flex-flow: column nowrap;
}

.port-row {
  display: flex;
  flex-flow: row nowrap;
  padding: 5% 0 10% 0;
  z-index: 2;
  align-items: center;

  .inner-port-row-top {
    flex: 0 1 30%;
  }

  .inner-port-row-bottom {
    background-color: $darkBlueSectionBg;
    margin: 1em 1em 0 0;
    padding: 1em;
    z-index: 3;
    flex: 0 1 70%;
  }

  .ipr-bottom-column {
    display: flex;
    flex-flow: row wrap;
    border: 4px double $darkBlueSectionAccent;
    padding: 1em;

    .iprbc-top-left {
      flex: 0 1 50%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
    }

    .iprbc-top-right {
      flex: 0 1 50%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
    }

    .iprbc-bottom {
      flex: 0 1 100%;
      margin-top: 0.5em;
      display: inline;
    }
  }
}

@include media("<desktop") {
  .port-row {
    flex-flow: column nowrap;
    padding: 5% 0 5%;
    .inner-port-row-bottom {
      margin: 2em 0 0 0;
    }
  }
}

@include media("<tablet") {
  .port-row {
    padding: 5% 0 15%;

    .ipr-bottom-column {
      .iprbc-top-left h2 {
        margin: 0.2em 0 0.5em 0;
      }

      .iprbc-top-left,
      .iprbc-top-right {
        flex: 0 1 100%;
        flex-flow: column nowrap;
        justify-content: center;
        .svg-inline--fa {
          margin-right: 0;
        }
      }

      .iprbc-bottom {
        margin-top: 0;
      }
    }

    .port-row-left {
      flex-flow: column nowrap;
      .inner-port-row-bottom {
        margin: 1em 0;
      }
    }

    .inner-port-row-top {
      h1.port-title {
        font-size: 3.5vw;
      }
    }
  }
}
