h1.port-title {
  font-family: "Blackriver";
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: -0.03em;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.8vw;
  color: $darkBlueSectionBg;
}

.iprbc-top-left h2 {
  margin: 0 1em 0 0;
}

.iprbc-top-right h2 {
  margin: 0;
}

.iprbc-top-left h2,
.iprbc-top-right h2 {
  font-family: "Playfair-Display";
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: -0.1px;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-transform: lowercase;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.3ch;
  color: $darkBlueSectionText;
}

.iprbc-top-left .svg-inline--fa,
.iprbc-top-right .svg-inline--fa {
  margin-right: 0.4em;

  path {
    fill: $darkBlueSectionAccent;
  }
}

.iprbc-bottom p {
  font-family: Lato;
  display: inline !important;
  line-height: 1.3;
  font-weight: 300;
  letter-spacing: 0.07px;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin: 0.8em 0;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.3ch;
  color: $darkBlueSectionText;
}

.iprbc-bottom .dropcap {
  font-size: 3ch;
  display: inline-block;
  font-family: "Blackriver";
  color: $darkBlueSectionAccent;
  line-height: 1;
  margin-right: 3px;
  margin-top: 0.6em;
}

.ex-site-link {
  display: block;
  position: relative;
  font-family: Lora;
  margin: 1em 0 0.4em 0;
  text-decoration: underline;
  color: $darkBlueSectionAccent;
  width: auto;
  transition: 0.3s ease-in-out;
}

.ex-site-link:hover {
  letter-spacing: 0.3px;
  color: $darkBlueSectionText;
}

/* Hotel Andaluz */
.ha > .line1 {
  font-size: 5.3ch;
}

.ha > .line2 {
  font-size: 5.5ch;
  margin-left: 0.5em;
  margin-top: -0.2em;
}