.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  z-index: 2;
  position: relative;
  width: 100%;
  background-color: #fff;
}

@import "_logo.scss";
@import "_nav.scss";
