.svg-border-container {
  height: 100%;
  width: 70%;
  left: -465px;
  position: absolute;
  transform: rotate(90deg);
}

.monogram-multi-path-group g path {
  fill: $darkBlueSectionAccent !important; //overrides inline fill
}

.monogram-multi-circle-group g circle {
  fill: $darkBlueSectionAccent !important; //overrides inline fill
}

.monogram-multi-ellipse-group g ellipse {
  fill: $darkBlueSectionAccent !important; //overrides inline fill
}
