#multiscroll {
  height: 100%;
}

.ms-tableCell {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.ms-content-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  border-width: 7px;
  border-style: double;
}

.ms-inner-container {
  position: relative;
  width: 75%;
  height: 75%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}