#multiscroll {
  height: 100%;
}

.ms-tableCell {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.ms-content-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  border-width: 7px;
  border-style: double;
}

.ms-inner-container {
  position: relative;
  width: 75%;
  height: 75%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@include media("<=tablet") {
  #multiscroll {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: stretch;
    height: auto;
    padding: 15px;
  }

  .ms-left,
  .ms-right {
    flex: 0 1 auto;
    height: auto;
  }

  .ms-content-container {
    width: auto;
    height: 100%;
  }

  .ms-inner-container {
    width: 90%;
    height: 90%;
  }

  .ms-section {
    width: 100%;
    height: calc(100vh - 125px);
    margin: 0 0 35px 0;
  }
}
