.ms-inner-container a {
    @include link-underline($darkBlueSectionBg, $darkBlueSectionText, $darkBlueSectionAccent);
}

.ms-inner-container a:focus {
  outline: none;
}

.link-color-change span {
  transition: all 0.4s ease-in-out;
  z-index: 2;
}

.link-color-change:hover span {
  color: $darkBlueSectionAccent;
}
