h1.large-title {
  font-family: "Blackriver";
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: -0.03em;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-transform: capitalize;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.8vw;
}


/* site.css | http://10.0.0.21:4567/assets/stylesheets/site.css */

.hello > .line1 {
  font-size: 5ch;
  margin-top: -0.3em;
  margin-left: 0.25em;
}

.hello > .line2 {
  font-size: 3.2ch;
  margin-left: 0.4em;
  margin-top: 0.1em;
}

.hello > .line3 {
  font-size: 3.4ch;
  margin-top: 0.3em;
  margin-left: 0;
}


.about-me > .line1 {
  font-size: 2ch;
}

.about-me > .line2 {
  font-size: 1.8ch;
}

.about-me > .line3 {
  font-size: 2.5ch;
  line-height: 1.2;
}

.code .line1 {
  font-size: 2.3ch;
  line-height: 0.9;
}

.code > .line2 {
  font-size: 2.6ch;
  line-height: 1.3;
}

.code > .line3 {
  font-size: 1.5ch;
}

.code > .line4 {
  font-size: 3.3ch;
  line-height: 0.8;
}

.work > .line1 {
  font-size: 2ch;
}

.work > .line2 {
  font-size: 2.7ch;
  line-height: 1.1;
}

