/* Colors */
$white: #ffffff;
$black: #111111;

$mainBgColor: $white;

$darkAccentColor: #04293b;
$moderateAccentColor: #00293c;
$lightAccentColor: #49635b;

/* Sections Combos */

$darkBlueSectionBg: #04293b;
$darkBlueSectionAccent: #B68F40;
$darkBlueSectionText: #eee3c9;

/* Config Values */
$navItems: 4;
$transition-duration: 0.5s;
$transition-delay: 0.05s;