html.no-multiscroll {
  overflow-y: visible;
}

body {
  background: $white;
}

#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  background: $darkBlueSectionBg;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
}

#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  animation-name: fade-in;
}

@include media("<=tablet") {
  html.no-multiscroll,
  body {
    height: auto;
    overflow-x: hidden;
  }
}
